.items-left span {
  font-weight: 500;
  font-size: 14px;
}
.clearBtn {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  padding: 5px 0 5px;
  background: none;
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: 14px;
}
