/*para active buttons */
/* .filters .active-filter,
.filters .active-filter:hover,
.filters .active-filter:focus {
  color: hsl(220, 98%, 61%);
} */

.itens-left {
  width: 500px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 500px;
}

.buttons .filter-item:hover,
.buttons .filter-item:focus {
  color: hsl(220, 98%, 61%);
}
