.Form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 20px;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.4);
  width: 90%;
  height: 70px;
}

input .todo-input {
  width: max-content;
  margin: auto;
}
.todo-input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  padding: 25px 20px 20.5px;
  background: transparent;
  border: none;
  outline: none;
}

.Form .todo-input::placeholder {
  opacity: 0.8;
}

.todo-button {
  width: 25px;
  height: 24px;
  font-size: 0;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  padding-top: 10px;
  opacity: 0.3;
}

@media (max-width: 375px) {
  .Form {
    width: 300px;
    height: 60px;
  }

  .Form .todo-input::placeholder {
    opacity: 0.8;
  }

  .todo-input {
    font-size: 14px;
  }
}
