body {
  background-image: url(../styles/images/bg-desktop-dark.jpg);
  background-color: hsl(234, 39%, 85%);
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
}

body.light-mode {
  background-image: url(../styles/images/bg-desktop-light.jpg);
  background-color: hsl(236, 33%, 92%);
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
}
