html body {
  background-image: url(./components/styles/images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% 300px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

html.dark body {
  background-image: url(./components/styles/images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: 100% 300px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.drag-drop-line {
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
}
.container {
  width: 737px;
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.items-filters-clear-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px 16px;
}
/* @media (max-width: 375px) {
  html.dark body {
    background-size: 100% 280px;
    background-image: url(./components/styles/images/bg-mobile-dark.jpg);
  }

  html body {
    background-image: url(./components/styles/images/bg-mobile-light.jpg);
  }

  .container{
    width: 550px
  }

  .drag-drop-line {
  position: absolute;
  bottom: 25px;
  font-weight: 500;
  opacity: 0;
}
} */
